name: build

on:
  push:
    branches:
      - master
      - 'renovate/**'

  pull_request:

env:
  # https://github.com/chalk/supports-color/issues/106
  FORCE_COLOR: true

jobs:
  cleanup:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: github-cleanup
        uses: renovatebot/internal-tools@v1.2.15
        continue-on-error: true
        with:
          command: github-cleanup
          token: ${{ secrets.GH_TOKEN }}

  build:
    needs: [cleanup]
    runs-on: ubuntu-latest

    timeout-minutes: 60

    steps:

      - name: docker-config
        uses: renovatebot/internal-tools@v1.2.15
        with:
          command: docker-config

      - uses: actions/checkout@v2.3.4

      - name: Docker registry login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build and Publish
        uses: renovatebot/internal-tools@v1.2.15
        with:
          command: "docker-builder"
          dry-run: ${{github.ref != 'refs/heads/master'}}
